html body{
  padding: 0;
  margin: 0;
  background-color: #F2EEEA;
}
header{
  position: relative;
  background-image: url(../image/hj.jpg);

  background-size: 100% 100%;
  text-align: center;
  margin-top: -20px;

}

.logo_moi
{
  margin-top: 20px;
  position:absolue;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

header ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: rgba(226, 74, 55, 0.2);



}


header a{
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  color: #5F5E5D;
  transition: all 0.5s;

}
header a:hover{
  color: white;
  font-size: 25px;

}

.ligne{
  border-top: solid 3px #B4B2AE;
  width: 50px;
  display: inline-block;
  margin: 0px;
  padding: 10px;

}

header p{
  color: #B4B2AE;
  padding: 20px;
}

.apropos, .article{
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
.apropos_titre{
  text-align: center;
}
h2{
  display: inline-block;
  text-transform: uppercase;
}
.apropos_titre .ligne{
margin-left: 5px;
margin-right: 5px;
margin-bottom: 5px;
  padding: 0px;
  width: 20px;
  background-color: blue;
}
.apropos p{
  line-height: 33px;
  word-spacing: 4px;
  letter-spacing: 1px;
}
/*--------------------------------------*/
.gallerie{
  padding-left: 10%;
  padding-right: 10%;
  background-color:#DED4B9;
  color: #5F5E5D;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
.gallerie .apropos_titre{
  margin-bottom: 100px;

  padding: 20px;
  padding-top: 30px;

}

.pic_container{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;

}
.pic_container .element img{
  width: 200px;
  height: 200px;
  background-size: contain;
}
.pic_container .element{
  margin-left: 2.5px;
  margin-right: 2.5px;
}
.voir_suite{
  display: inline-block;
  border:2px solid #5F5E5D;
  width: 25%;
  padding: 10px;
  height:auto;
  margin-bottom: 70px;
background-color: #5F5E5D;

}
.voir_suite {
  text-decoration: none;
  color:#DED4B9;
  transition: all ease-in 0.5s;
}
.article{
  margin-left: 2%;
  margin-right: 2%;

}
.voir_suite:hover{
  color:#5F5E5D;
  background-color:#DED4B9;
  transition: all 0.5;

}
.rubrique_container{
  margin-top: 100px;;
  display: flex;
  flex-wrap: wrap;
  background-color: ;
  justify-content: center;

}

.rubrique{
  padding: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 20px;
  position: relative;

  width: 40%;
  min-width: 450px;
  word-wrap: break-word;
  transition: all ease-in 0.3s;



}

.rubrique img{
  width: 150px;
  height: 150px;
  border-radius: 50%;

}
.rubrique:hover{

    box-shadow: 0 0 0 20px #DED4B9 ;
}

.contact{
  position: relative;
  overflow: hidden;
  padding: 20%;
  background-color:#5F5E5D;
  color: #F2EEEA;
}
.contact .formulaire, .contact .apropos_titre{
  position: relative;
  z-index: 10;
}
.contact img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.08;
}
footer{
  position: relative;
  text-align: center;
  padding: 20px;
}
