html body{
  padding: 0;
  margin: 0;
  background-color: #F2EEEA;
}
header{
  position: relative;
  background-image: url(../image/hj.jpg);

  background-size: 100% 100%;
  text-align: center;
  margin-top: -20px;

}

.logo_moi
{
  margin-top: 20px;
  position:absolue;
  width: 200px;
  height: 200px;
  border-radius: 50%;

}

header ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: rgba(226, 74, 55, 0.2);


}


header a{
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  color: #5F5E5D;

}

.ligne{
  border-top: solid 3px #B4B2AE;
  width: 50px;
  display: inline-block;
  margin: 0px;
  padding: 10px;

}

header p{
  color: #B4B2AE;
  padding: 20px;
}

.apropos{
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
.apropos_titre{
  text-align: center;
}
h2{
  display: inline-block;
  text-transform: uppercase;
}
.apropos_titre .ligne{
margin-left: 5px;
margin-right: 5px;
margin-bottom: 5px;
  padding: 0px;
  width: 20px;
  background-color: blue;
}
.apropos p{
  line-height: 33px;
}
